/Helper/VictorOof/nbproject/private/
/Helper/VictorOof/build/
/Helper/JavaApplication2/nbproject/private/
/Helper/SampleDb/nbproject/private/
/Helper/SampleDb/build/
/Helper/JDBCProject/nbproject/private/
/Helper/JDBCProject/build/
/Helper/FranksCode/nbproject/private/
/Helper/FranksCode/build/